#!/bin/bash

# Detect the operating system
OS="linux"
if [[ "$OSTYPE" == "darwin"* ]]; then
  OS="mac"
fi

# Function to perform sed in-place edit based on OS
function sed_inplace() {
  if [[ "$OS" == "mac" ]]; then
    sed -i '' "$@"
  else
    sed -i "$@"
  fi
}

branchName=$(git symbolic-ref --short HEAD)
featureName=$(basename "$branchName" | cut -d"-" -f1)
databaseName="SteffBeckers-${featureName}"

# Update connection strings
appsettingsDevelopmentDbMigrator="dotnet/src/SteffBeckers.DbMigrator/appsettings.Development.json"
if [ -f $appsettingsDevelopmentDbMigrator ]; then
  sed_inplace "s/Database=[^;]*;/Database=$databaseName;/" "$appsettingsDevelopmentDbMigrator"
fi

appsettingsDevelopmentHttpApiHost="dotnet/src/SteffBeckers.HttpApi.Host/appsettings.Development.json"
if [ -f $appsettingsDevelopmentHttpApiHost ]; then
  sed_inplace "s/Database=[^;]*;/Database=$databaseName;/" "$appsettingsDevelopmentHttpApiHost"
fi

# Update docker .env file
dockerEnvFile="docker/.env"
if grep -q "^TAG=" "$dockerEnvFile"; then
  sed_inplace "s/^TAG=.*/TAG=$branchName/" "$dockerEnvFile"
else
  echo "TAG=$branchName" >> "$dockerEnvFile"
fi
